@font-face {
  font-family: $font-text;
  src: url('../fonts/fabrica/fabrica-webfont.eot');
  src: url('../fonts/fabrica/fabrica-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fabrica/fabrica-webfont.woff2') format('woff2'),
       url('../fonts/fabrica/fabrica-webfont.woff') format('woff'),
       url('../fonts/fabrica/fabrica-webfont.ttf') format('truetype'),
       url('../fonts/fabrica/fabrica-webfont.svg#fabricaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-title;
  src: url('../fonts/manifesto/manifesto-webfont.eot');
  src: url('../fonts/manifesto/manifesto-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/manifesto/manifesto-webfont.woff2') format('woff2'),
       url('../fonts/manifesto/manifesto-webfont.woff') format('woff'),
       url('../fonts/manifesto/manifesto-webfont.ttf') format('truetype'),
       url('../fonts/manifesto/manifesto-webfont.svg#manifestoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: $font-nav;
    src: url('../fonts/minimal/minimal-webfont.eot');
    src: url('../fonts/minimal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/minimal/minimal-webfont.woff2') format('woff2'),
         url('../fonts/minimal/minimal-webfont.woff') format('woff'),
         url('../fonts/minimal/minimal-webfont.ttf') format('truetype'),
         url('../fonts/minimal/minimal-webfont.svg#minimalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: $font-accent;
  src: url('../fonts/Azedo-Light/Azedo-Light.eot');
  src: url('../fonts/Azedo-Light/Azedo-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Azedo-Light/Azedo-Light.woff2') format('woff2'),
       url('../fonts/Azedo-Light/Azedo-Light.woff') format('woff'),
       url('../fonts/Azedo-Light/Azedo-Light.ttf') format('truetype'),
       url('../fonts/Azedo-Light/Azedo-Light.svg#Azedo-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-byline;
  src: url('../fonts/Montserrat-hairline/Montserrat-hairline-webfont.eot');
  src: url('../fonts/Montserrat-hairline/Montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Montserrat-hairline/Montserrat-hairline-webfont.woff2') format('woff2'),
       url('../fonts/Montserrat-hairline/Montserrat-hairline-webfont.woff') format('woff'),
       url('../fonts/Montserrat-hairline/Montserrat-hairline-webfont.ttf') format('truetype'),
       url('../fonts/Montserrat-hairline/Montserrat-hairline-webfont.svg#Montserrat-hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.25;
    font-family: $font-text;
    background-color: $background-color1;
    color: $font-color1;
}

ol, ul {
    list-style: none;
}