$font-text: 'fabrica';
$font-title: 'Manifesto';
$font-nav: 'minimal';
$font-accent: 'Azedo-Light';
$font-byline: 'Montserrat';
$background-color1: #F8F8ff; 
$background-color2: #2b2b2b;
$background-nav: #7c9fbf;
$font-color1: #050205;
$font-color2: #7c9fbf;;
$font-color-highlight: #f33005;
$highlight-box-color: #6EA5C1;
$button-color: #27C086;
